In [1]:
from scipy.optimize import linprog
import numpy as np
import pickle
import pandas as pd
import matplotlib.pyplot as plt
from gurobi import *

from dynamic_matching import DynamicMatchingBase
np.set_printoptions(precision=3)
pd.options.display.max_columns = None
from IPython.display import display, HTML
from IPython.display import display_html

### Define solver utility functions

In [2]:
def in_constraint(v):
    if v[1]:
        return True
    else:
        return False

def print_tableau(matches):
    for i in range(matches.shape[2]):
        print("t=",i)
        print(matches[:,:,i])
        
def validate_allocation(allocations):
    agents_matched = allocations.sum(axis=2).sum(axis=0).sum()
    print("{} out of {} agents matched".format(agents_matched, J))
    print("{} agents have self matched".format(allocations[0,:,:].sum()))
    print("Self-matched agents are: ", np.nonzero(allocations[0,:,:].sum(axis=1))[0])

    assert agents_matched <= J, "An agent has been matched more than once"

    for i in range(I):
        for j in range(J):
            for t in range(T):
                maxit = min(T, t+d)
                assert allocations[i,j,t:maxit].sum() <= c[i], "A resource has been over allocated"

def create_tableau(I,J,T):
    valid_matches = np.zeros((I,J,T), np.int)

    #valid allocations based on arival time
    for t in range(T):
        valid_matches[:,max(0,t-d):min(t+1,J),t] = 1

    #make weights uniform across time
    pairing_weights = np.random.random(valid_matches.shape) 
    for t in range(1,pairing_weights.shape[2]):
        pairing_weights[:,:,t] = pairing_weights[:,:,0]
    
    pairing_weights[0,:,:] = 1e-5
    pairing_weights[valid_matches == 0] = -1
    pairing_weights = np.round(pairing_weights,decimals=5)

    return valid_matches, pairing_weights

def make_alpha_mapping(I,J,T,alphas,valid_matches):
    '''Creates an index into the alpha array for each position in valid matches'''
    constraints_d, _ = dual_constraint_matrix(valid_matches,pairing_weights,I,J,T)
    constraints_d = constraints_d[:,:alphas.size]
    alpha_map = np.zeros((*valid_matches.shape,constraints_d.shape[1]),dtype=np.bool)

    cix=0
    for i in range(I):
            for j in range(J):
                for t in range(T):
                    if valid_matches[i][j][t]:
                        alpha_map[i,j,t,:] = constraints_d[cix,:]
                        cix += 1
    return alpha_map

To make the dual constraint matrix: 
- Create a constraint map to see which alphas/betas apply at a given location in the primal. Each valid location will correspond to a constraint in the dual, and the variables == 1 will be those in the `cmap[i][j][t]`

### Convert the problem formulation to inequalities of the form `Ax = b`

In [3]:
def primal_constraint_matrix(valid_matches, I,J,T):

    constraints = np.zeros((T*I+J,valid_matches.size),dtype=np.float128)
    cix = 0
    
    #constraints limiting to one resource allocation in the time interval
    for i in range(I):
        for t in range(T):
            constraint = np.zeros((I,J,T), np.int)
            valid_mask = constraint.copy()
            endix = min(t+k[i],T)
            valid_mask[i,:,t:endix] = 1 
            constraint[(valid_matches == 1) & (valid_mask == 1)] = 1
            constraints[cix,:] = constraint.reshape((1, constraint.shape[0] * constraint.shape[1] * constraint.shape[2]))
            cix += 1

    #constraints limiting each agent to only match once            
    for j in range(J):
        constraint = np.zeros((I,J,T), np.int)
        valid_mask = constraint.copy()
        valid_mask[:,j,:] = 1

        constraint[(valid_matches == 1) & (valid_mask ==1)] = 1
        constraints[cix+j,:] = constraint.reshape((1, constraint.shape[0] * constraint.shape[1] * constraint.shape[2]))
    
    return constraints


def dual_constraint_matrix(valid_matches,pairing_weights,I,J,T):

    constraint_map = np.zeros((I,J,T,T*I+J), np.int)
    cix = 0

    #constraints limiting to one resource allocation in the time interval
    for i in range(I):
        for t in range(T):
            constraint = np.zeros((I,J,T), np.int)
            valid_mask = constraint.copy()

            endix = min(t+k[i],T)
            valid_mask[i,:,t:endix] = 1 
            constraint[(valid_matches == 1) & (valid_mask == 1)] = 1

            constraint_map[:,:,:,cix] = constraint.copy()
            cix += 1

    #constraints limiting each agent to only match once            
    for j in range(J):
        constraint = np.zeros((I,J,T), np.int)
        valid_mask = constraint.copy()
        valid_mask[:,j,:] = 1
        constraint[(valid_matches == 1) & (valid_mask ==1)] = 1
        constraint_map[:,:,:,cix] = constraint.copy()
        cix += 1

    dual_constraint_matrix = np.zeros((valid_matches.sum(), constraint_map.shape[3]))
    inequalities = np.zeros(valid_matches.sum())
    
    cix = 0
    for i in range(I):
        for j in range(J):
            for t in range(T):
                if valid_matches[i][j][t]:
                    dual_constraint_matrix[cix,:] = constraint_map[i,j,t,:] 
                    inequalities[cix] = pairing_weights[i,j,t]
                    cix += 1
    
    return dual_constraint_matrix, inequalities

### Solving the primal and dual via the Gurobi library

In [4]:
def primal_solutions(pairing_weights, I, J, T):
   
    m = Model("dynamicmatch_primal")
    m.modelSense = GRB.MAXIMIZE
    m.setParam( 'OutputFlag', False )
    m.setParam( 'NumericFocus', 3)
    

    weights = pairing_weights.reshape(pairing_weights.shape[0] * pairing_weights.shape[1] * pairing_weights.shape[2])
    constraints = primal_constraint_matrix(valid_matches, I,J,T)


    keys = range(constraints.shape[1])
    variables = m.addVars(keys,
                    vtype=GRB.CONTINUOUS,
                     obj=weights,
                     name="primal",
                     lb=0)

    for cix, constraint in enumerate(constraints):
        equality = c[cix // T] if cix < T * I else 1
        m.addConstr(sum(variables[o]*c for o,c in filter(in_constraint, zip(variables,constraint))) <= equality)

    m.optimize()
    m.write('primal_formulation.lp')
    allocations = np.array([variables[var].X for var in variables], dtype=np.float128).reshape(pairing_weights.shape)

    return m.objVal, allocations


def dual_solutions(valid_matches, pairing_weights, I, J, T):
    md = Model("dynamicmatch_dual")
    md.modelSense = GRB.MINIMIZE
    md.setParam( 'OutputFlag', False )
    md.setParam( 'NumericFocus', 3)

    constraints_d, inequalities = dual_constraint_matrix(valid_matches,pairing_weights,I,J,T)
    c_d = np.ones(constraints_d.shape[1], dtype=np.float128)
    
    for ix in range(constraints_d.shape[1]):
        c_d[ix] = c[ix // T] if ix < T * I else 1
    
    keys = range(constraints_d.shape[1])
    variables = md.addVars(keys,
                    vtype=GRB.CONTINUOUS,
                    obj=c_d,
                    name="dual",
                    lb=0)

    for cix, constraint in enumerate(constraints_d):
        con = sum(variables[o]*c for o,c in filter(in_constraint, zip(variables,constraint))) >= inequalities[cix]
        md.addConstr(sum(variables[o]*c for o,c in filter(in_constraint, zip(variables,constraint))) >= inequalities[cix])

    md.optimize()
    duals = np.array([variables[var].X for var in variables],dtype=np.longdouble)
    betas = duals[duals.size - J:]
    alphas = duals[:duals.size - J]
    
    md.write('dual_formulation.lp')
    return md.objVal, alphas, betas

### Online allocation alogrithm implementation
- At each time, for each candidate resource / utility pair, allocate if assignment term less than epsilon
- Track validity of candidate matches based on arrival/departure model, previously matched agents, and resource utilization times

### Online matching pseudocode: 

- For time in T
    - For agent in agents
        - For resource in resources
            - if match is valid and resource is available
                - if `weight - alphas - beta <= epsilon`:
                    - allocate here
                    - update candidate matches and resource availability
        - if agent is about to leave and is not matched
            - self match here

In [5]:
def online_matching(I,J,T,k,c,alphas,betas,valid_matches,pairing_weights,epsilon=0):

    alpha_map = make_alpha_mapping(I,J,T,alphas,valid_matches)
    online_allocations = np.zeros(pairing_weights.shape)
    comps = np.zeros(pairing_weights.shape)
    utility = 0
    candidate_matches = valid_matches.copy()
    
    resource_uses = np.zeros((pairing_weights.shape[0],pairing_weights.shape[2]))

    for t in range(T):
        for j in range(J):
            for i in range(1,I):
                
                if candidate_matches[i,j,t] and resource_uses[i,t] < c[i]:
                    asum = np.sum(alphas[alpha_map[i,j,t] == 1])

                    assignment_term = np.abs(pairing_weights[i,j,t] - asum - betas[j])
                    comps[i,j,t] = assignment_term
                    #allocate if less than epsilon
                    if assignment_term < epsilon:
                        online_allocations[i,j,t] = 1
                        utility += pairing_weights[i,j,t]

                        #prevent matches with resource during time period and the same agent
                        candidate_matches[:,j,:] = 0
                        resource_uses[i,t:t+k[i]] += 1
        
            #agent hasn't been allocated, self match 
            if j == t - d and candidate_matches[0,j,t]:
                online_allocations[0,j,t] = 1
                utility += pairing_weights[0,j,t]
                candidate_matches[:,j,:] = 0
                resource_uses[0,t:t+k[i]] += 1

    return utility, online_allocations,comps

### Define some utility functions for better understanding how the solvers / and online allocation is working

In [6]:
def make_alpha_tableau(valid_matches, alphas, I, T):

    alpha_tableau = np.zeros(valid_matches.shape)
    ii = 0
    it = 0
    for ax, alpha in enumerate(alphas):

        if ii < I:
            use_length = k[ax // T]
            alpha_tableau[ii,:,it:it+use_length] = alpha
            it = it+use_length

            if it >= alpha_tableau.shape[2]:
                it = 0
                ii += 1
                
    return alpha_tableau

def display_alphas_3D(valid_matches, alphas, I, T):
    amap = make_alpha_mapping(I,J,T,alphas,valid_matches)
    alpha_viz = np.zeros(valid_matches.shape)

    for i in range(I):
        for j in range(J):
            for t in range(T):
                alpha_viz[i,j,t] = np.sum(alphas[amap[i,j,t]])
    return alpha_viz

def display_alphas_2D(valid_matches, alphas, I, T):
    amap = make_alpha_mapping(I,J,T,alphas,valid_matches)
    alpha_viz = np.zeros(valid_matches.shape)

    for i in range(I):
        for j in range(J):
            for t in range(T):
                alpha_viz[i,j,t] = np.sum(alphas[amap[i,j,t]])
    return alpha_viz

def print_alpha_allocation_view(alphas, I,T):
    display(pd.DataFrame(alphas.reshape(I,T)))

In [7]:
def debug_allocation_differences(online_allocs, offline_allocs, comps):
    diff = online_allocs - offline_allocs
    print("\nOnline allocated when it shouldn't (false positive)")
    for i in range(I):
        for j in range(J):
            for t in range(T):
                if diff[i,j,t] == 1 and i > 0:
                    print("Occurs at {},{},{}. Comparison value: {}".format(i,j,t, comps[i,j,t]))
    
    
    print("\nOnline didn't allocate when it should (false negative)")
    for i in range(I):
        for j in range(J):
            for t in range(T):
                if diff[i,j,t] == -1 and i > 0:
                    print("Occurs at {},{},{}. Comparison value: {}".format(i,j,t, comps[i,j,t]))
                    
def display_3D(tableaus_int, tableaus_float, names, c, k, T):
    '''Given an array of numpy arrays, transforms to dataframes and displays'''
    
    metadf = pd.DataFrame({
        'copies' :[c[i] for i in range(allocs.shape[0])],
        'use times' :[k[i] for i in range(allocs.shape[0])]
    })
    
    html_str = ('<th>' 
                + ''.join([f'<td style="text-align:center">{name}</td>' for name in names])
                + '</th>')

    int_ixs = len(tableaus_int)-1
    tableaus_int.extend(tableaus_float)
    
    for i in range(T):
        row_dfs = [pd.DataFrame(tableau[:,:,i]) for tableau in tableaus_int]
    
        html_str += ('<tr>' + "<td style='vertical-align:center'> t = {}".format(i) +
                     f"<td style='vertical-align:top'>{metadf.to_html(index=False, float_format='%i')}</td>" +
                     ''.join(f"<td style='vertical-align:top'> {df.to_html(index=False, float_format='%.3e') if ix > int_ixs else df.to_html(index=False,float_format='%i')}</td>"
                             for ix,df in enumerate(row_dfs)) + 
                     '</tr>')
        
    html_str = f'<table>{html_str}</table>'
    display_html(html_str, raw=True)
    
def create_allocation_vizdf(df):

    def convert_cells(cell):
        return 't='+cell.split('.')[0] if '.' in cell else ''

    df[df.columns] = df[df.columns].replace({0:np.nan}).subtract(1)
    df = df.astype(str).replace('nan', '', regex=True)
    return df.applymap(convert_cells)

def make_2D_tableau(I,J,T,pairing_weights, allocs):

    matches = np.zeros((I,J))
    match_weights = np.zeros((I,J))
    for t in range(T):
        for i in range(I):
            for j in range(J):
                if allocs[i][j][t]:
                    matches[i][j] = t+1
    match_weights = np.max(pairing_weights,axis=2)


    match_weights = np.concatenate((match_weights,betas[np.newaxis]),axis=0)
    matches = np.concatenate((matches,np.zeros((1,matches.shape[1]))),axis=0)
    
    return match_weights, matches


def display_2D(I,J,T,pairing_weights, allocs):
    
    match_weights, matches = make_2D_tableau(I,J,T,pairing_weights, allocs)

    index = ['self match'] + ['resource ' + str(i) for i in range(1, matches.shape[0]-1)] + ['betas']
    columns = ['agent '+ str(j) for j in range(matches.shape[1])]

    tabs = [matches, match_weights]
    row_dfs = [pd.DataFrame(tableau, index=index, columns=columns) for tableau in tabs]

    row_dfs[0] = create_allocation_vizdf(row_dfs[0])

    metadf = pd.DataFrame({
        'copies' :[c[i] for i in range(allocs.shape[0])] + [''],
        'use times' :[k[i] for i in range(allocs.shape[0])] + ['']
    },index=index)
    
    html_str = ('<th>' 
            + ''.join([f'<td style="text-align:center">{name}</td>' for name in ['resource info', 'allocations', 'match quality']])
            + '</th>')

    html_str += ('<tr>' + 
                 f"<td style='vertical-align:top'>{metadf.to_html(index=True, float_format='%i')}</td>" +
                 ''.join(f"<td style='vertical-align:top'> {df.to_html(index=False, float_format='%.3f') if ix > 0 else df.to_html(index=False,float_format='%i')}</td>"
                         for ix,df in enumerate(row_dfs)) + 
                 '</tr>')

    html_str = f'<table>{html_str}</table>'
    display_html(html_str, raw=True)

### Calling dual viz functions

In [ ]:
names=['','Primal allocations', 'sum of alphas', 'Pairing weights']
alpha_viz = display_alphas(valid_matches, alphas, I, T)

display_3D([allocs], [alpha_viz, pairing_weights], names, c, k, T)

print_alpha_allocation_view(alphas, I,T)

In [8]:
def check_comp_slackness(I,J,T,alphas,valid_atches):
    
    alpha_map = make_alpha_mapping(I,J,T,alphas,valid_matches)
    comp_slackness = np.zeros(valid_matches.shape)
    
    for t in range(T):
        for j in range(J):
            for i in range(1,I):
                    asum = np.sum(alphas[alpha_map[i,j,t] == 1])
                    comp_slackness[i,j,t] = (pairing_weights[i,j,t] - asum - betas[j]) * allocs[i,j,t]
                    
    return comp_slackness

## Define a few examples to illistrate online assignment discrepancies

- Both minimal situations have one resource and two agents

### Scenario 1: online allocations don't match, but complementary slackness is satisfied
- Here, the assignment term (weight - alphas - beta) is zero in all comparison terms, causing assignment to occur immediately when the resource arrives. Resources aren't scarce in this situation so the discrepancy doesn't impact utility.

In [126]:
pairing_weights = -1 * np.ones((2,2,4))

pairing_weights[:,:,0] = np.array([[1e-5, -1], [4, -1]])
pairing_weights[:,:,1] = np.array([[1e-5, 1e-5],[4, 5]])
pairing_weights[:,:,2] = np.array([[1e-5, 1e-5],[4, 5]])
pairing_weights[:,:,3] = np.array([[-1, 1e-5],[-1, 5]])

valid_matches = np.zeros(pairing_weights.shape, np.int)
valid_matches[pairing_weights != -1] = 1

J=2
I=2
T = J+d 

k=np.array([1,1]) # use times
c=np.array([J,2]) # number of copies

objp, allocs = primal_solutions(pairing_weights, I, J, T)
objd, alphas, betas = dual_solutions(valid_matches,pairing_weights, I, J, T)
objo, online_allocs,comps = online_matching(I,J,T,k,c,alphas,betas,valid_matches,pairing_weights)

print("Primal utility:",objp)
print("Dual utility:",objd)
print("Online utility:",objo)

Primal utility: 9.0
Dual utility: 9.0
Online utility: 9.0

### All online assignment comparisons (weight - alphas - beta) are zero

In [127]:
print_tableau(comps)

t= 0
[[0. 0.]
 [0. 0.]]
t= 1
[[0. 0.]
 [0. 0.]]
t= 2
[[0. 0.]
 [0. 0.]]
t= 3
[[0. 0.]
 [0. 0.]]

### Complementary slackness is satisfied

In [128]:
print_tableau(check_comp_slackness(I,J,T,alphas,valid_matches))

t= 0
[[ 0.  0.]
 [ 0. -0.]]
t= 1
[[0. 0.]
 [0. 0.]]
t= 2
[[0. 0.]
 [0. 0.]]
t= 3
[[ 0.  0.]
 [-0.  0.]]

### Visualizing online assignment
- Rows are resources (first is self match), while columns are agents. Each larger row corresponds to a time instance

In [129]:
names=['','Primal allocations', 'Online allocations', 'Online assignment term', 'Pairing weights']
display_3D([allocs, online_allocs], [comps, pairing_weights], names, c, k, T)

copies,use times
2,1
2,1
0,1
0,0
0,0
0,1
0,0
1,0
0,1
0.000,0.000
0.000,0.000
0,1
0.000,-1.000
4.000,-1.000
copies,use times
2,1
2,1
0,1
0,0
0,0
0,1
0,0
0,1
0,1
0.000,0.000
0.000,0.000
0,1
0.000,0.000
4.000,5.000
copies,use times
2,1
2,1
0,1
0,0
1,1
0,1
0,0
0,0
0,1
0.000,0.000
0.000,0.000
0,1
0.000,0.000
4.000,5.000
copies,use times
2,1
2,1
0,1
0,0
0,0
0,1
0,0
0,0
0,1
0.000,0.000
0.000,0.000
0,1
-1.000,0.000
-1.000,5.000

### Scenario 2: Complementary slackness not satisfied due to numerical problems

- Here, at both points where assignment should occur, the assignment term is ~1e-16/1e-17. The corresponding complementary slackness terms are also not satisfied.

In [134]:
pairing_weights = -1 * np.ones((2,2,4))

pairing_weights[:,:,0] = np.array([[1e-5, -1], [4, -1]])
pairing_weights[:,:,1] = np.array([[1e-5, 1e-5],[4, 5]])
pairing_weights[:,:,2] = np.array([[1e-5, 1e-5],[4, 5]])
pairing_weights[:,:,3] = np.array([[-1, 1e-5],[-1, 5]])

valid_matches = np.zeros(pairing_weights.shape, np.int)
valid_matches[pairing_weights != -1] = 1

J=2
I=2
T = J+d 

k=np.array([1,3]) # use times
c=np.array([J,1]) # number of copies

objp, allocs = primal_solutions(pairing_weights, I, J, T)
objd, alphas, betas = dual_solutions(valid_matches,pairing_weights, I, J, T)
objo, online_allocs,comps = online_matching(I,J,T,k,c,alphas,betas,valid_matches,pairing_weights)

print("Primal utility:",objp)
print("Dual utility:",objd)
print("Online utility:",objo)

Primal utility: 9.0
Dual utility: 9.0
Online utility: 2e-05

### Complementary slackness check

In [135]:
print_tableau(check_comp_slackness(I,J,T,alphas,valid_matches))

t= 0
[[ 0.000e+00  0.000e+00]
 [ 6.551e-17 -0.000e+00]]
t= 1
[[ 0.  0.]
 [-0. -0.]]
t= 2
[[ 0.  0.]
 [-0. -0.]]
t= 3
[[ 0.000e+00  0.000e+00]
 [-0.000e+00 -3.786e-16]]

In [136]:
#Online assignment terms
print_tableau(comps)

t= 0
[[0.000e+00 0.000e+00]
 [6.551e-17 0.000e+00]]
t= 1
[[0. 0.]
 [5. 4.]]
t= 2
[[0. 0.]
 [5. 4.]]
t= 3
[[0.000e+00 0.000e+00]
 [0.000e+00 3.786e-16]]

In [137]:
display_3D([allocs, online_allocs], [comps, pairing_weights], names, c, k, T)

copies,use times
2,1
1,3
0,1
0,0
1,0
0,1
0,0
0,0
0,1
0.000,0.000
0.000,0.000
0,1
0.000,-1.000
4.000,-1.000
copies,use times
2,1
1,3
0,1
0,0
0,0
0,1
0,0
0,0
0,1
0.000,0.000
5.000,4.000
0,1
0.000,0.000
4.000,5.000
copies,use times
2,1
1,3
0,1
0,0
0,0
0,1
1,0
0,0
0,1
0.000,0.000
5.000,4.000
0,1
0.000,0.000
4.000,5.000
copies,use times
2,1
1,3
0,1
0,0
0,1
0,1
0,1
0,0
0,1
0.000,0.000
0.000,0.000
0,1
-1.000,0.000
-1.000,5.000

### Assigning when the term is >1e-15 and asserting that complementary slackness is satisfied for x < 1e-15 works in this example. The next example shows where this approach does not work.

In [211]:
pairing_weights = -1 * np.ones((2,4,6))

pairing_weights[:,:,0] = np.array([[1e-5, -1, -1, -1], [.2, -1, -1, -1]])#
pairing_weights[:,:,1] = np.array([[1e-5, 1e-5, -1, -1],[.2, .28, -1, -1]])#
pairing_weights[:,:,2] = np.array([[1e-5, 1e-5, 1e-5,-1],[.2, .28, .7, -1]])#
pairing_weights[:,:,3] = np.array([[-1, 1e-5, 1e-5, 1e-5],[-1, .28, .7, .3]])#
pairing_weights[:,:,4] = np.array([[-1, -1, 1e-5, 1e-5],[-1, -1, .7, .3]])
pairing_weights[:,:,5] = np.array([[-1, -1, -1, 1e-5],[-1, -1, -1, .3]])

valid_matches = np.zeros(pairing_weights.shape, np.int)
valid_matches[pairing_weights != -1] = 1

J=4
I=2
T = J+d 
d=2


k=np.array([1,3]) # use times
c=np.array([J,1,1]) # number of copies

objp, allocs = primal_solutions(pairing_weights, I, J, T)
objd, alphas, betas = dual_solutions(valid_matches,pairing_weights, I, J, T)
objo, online_allocs,comps = online_matching(I,J,T,k,c,alphas,betas,valid_matches,pairing_weights, 1e-15)

print("Primal utility:",objp)
print("Dual utility:",objd)
print("Online utility:",objo)

Primal utility: 1.00002
Dual utility: 1.00002
Online utility: 0.50002

In this scenario, the online assignment term at `t=0,i=1,j=0` is `1e-17`. When this is rounded down to zero, assignment occurs when it should not. The primal solution shows the unique optimal for these matching weights and resources.

In [215]:
display_3D([allocs, online_allocs], [comps, pairing_weights], names, c, k, T)

In [213]:
print_tableau(check_comp_slackness(I,J,T,alphas,valid_matches))

t= 0
[[ 0.  0.  0.  0.]
 [ 0. -0. -0. -0.]]
t= 1
[[ 0.  0.  0.  0.]
 [-0.  0. -0. -0.]]
t= 2
[[ 0.  0.  0.  0.]
 [-0.  0.  0. -0.]]
t= 3
[[ 0.  0.  0.  0.]
 [-0. -0. -0. -0.]]
t= 4
[[ 0.  0.  0.  0.]
 [-0. -0. -0.  0.]]
t= 5
[[ 0.e+00  0.e+00  0.e+00  0.e+00]
 [-0.e+00 -0.e+00 -0.e+00  1.e-17]]

In [214]:
print_tableau(comps)

t= 0
[[0.e+00 0.e+00 0.e+00 0.e+00]
 [1.e-17 0.e+00 0.e+00 0.e+00]]
t= 1
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]]
t= 2
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]]
t= 3
[[0.   0.   0.   0.  ]
 [0.   0.1  0.1  0.08]]
t= 4
[[0.e+00 0.e+00 0.e+00 0.e+00]
 [0.e+00 0.e+00 2.e-02 1.e-17]]
t= 5
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [18]:
print_tableau(tableau_cahche)

t= 0
[[ 1.000e-05 -1.000e+00 -1.000e+00 -1.000e+00]
 [ 4.916e-01 -1.000e+00 -1.000e+00 -1.000e+00]]
t= 1
[[ 1.000e-05  1.000e-05 -1.000e+00 -1.000e+00]
 [ 4.916e-01  4.869e-01 -1.000e+00 -1.000e+00]]
t= 2
[[ 1.000e-05  1.000e-05  1.000e-05 -1.000e+00]
 [ 4.916e-01  4.869e-01  5.304e-01 -1.000e+00]]
t= 3
[[-1.000e+00  1.000e-05  1.000e-05  1.000e-05]
 [-1.000e+00  4.869e-01  5.304e-01  7.995e-01]]
t= 4
[[-1.000e+00 -1.000e+00  1.000e-05  1.000e-05]
 [-1.000e+00 -1.000e+00  5.304e-01  7.995e-01]]
t= 5
[[-1.000e+00 -1.000e+00 -1.000e+00  1.000e-05]
 [-1.000e+00 -1.000e+00 -1.000e+00  7.995e-01]]

In [16]:
tableau_cahche = pairing_weights.copy()

In [19]:
pairing_weights = -1 * np.ones((2,4,6))

pairing_weights[:,:,0] = np.array([[1e-5, -1, -1, -1], [.49, -1, -1, -1]])#
pairing_weights[:,:,1] = np.array([[1e-5, 1e-5, -1, -1],[.49, .48, -1, -1]])#
pairing_weights[:,:,2] = np.array([[1e-5, 1e-5, 1e-5,-1],[.49, .48, .53, -1]])#
pairing_weights[:,:,3] = np.array([[-1, 1e-5, 1e-5, 1e-5],[-1, .48, .53, .79]])#
pairing_weights[:,:,4] = np.array([[-1, -1, 1e-5, 1e-5],[-1, -1, .53, .79]])
pairing_weights[:,:,5] = np.array([[-1, -1, -1, 1e-5],[-1, -1, -1, .79]])

valid_matches = np.zeros(pairing_weights.shape, np.int)
valid_matches[pairing_weights != -1] = 1

In [20]:
J=4
I=2
d=2
T = J+d 


# valid_matches, pairing_weights = create_tableau(I,J,T)


k=np.array([1,4]) # use times
c=np.array([J,1,1]) # number of copies

objp, allocs = primal_solutions(pairing_weights, I, J, T)
objd, alphas, betas = dual_solutions(valid_matches,pairing_weights, I, J, T)
objo, online_allocs,comps = online_matching(I,J,T,k,c,alphas,betas,valid_matches,pairing_weights)

print("Primal utility:",objp)
print("Dual utility:",objd)
print("Online utility:",objo)

1 0 0
1.0000070975284269803e-17
1 0 1
1.0000070975284269803e-17
1 1 1
0.009999999999999998882
1 0 2
0.040000000000000025525
1 1 2
0.050000000000000034407
1 2 2
1.0000070975284269803e-17
1 1 3
0.050000000000000034407
1 2 3
1.0000070975284269803e-17
1 3 3
0.0
Primal utility: 1.28002
Dual utility: 1.28002
Online utility: 0.79003

In [21]:
display_3D([allocs, online_allocs], [comps, pairing_weights], names, c, k, T)

In [241]:
1e-17 < comps[1][0][0] < 1e-16

True

In [236]:
comps[1][0][0]

1.000007097528427e-17